<app-progress-bar *ngIf="loading"></app-progress-bar>
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="form" (ngSubmit)="addUser()">
        <div class="modal-header">
          <h5 class="modal-title">Register</h5>
        </div>
        <div class="modal-body">

            <!-- email -->
            <div class="inputs">
              <label class="col-form-label" for="inputDefault">Email</label>
              <input 
                [ngClass]="{'is-invalid': form.get('email')?.errors?.['email'] && form.get('email')?.touched || form.get('email')?.hasError?.('required') && form.get('email')?.touched}"
                formControlName="email" type="email" class="form-control" placeholder="Email..."
              />
                <!-- Mensajes de error -->
                <span *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
                  El campo email es <strong>requerido</strong>
                </span>
                <span *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched">
                  El email no tiene el formato correcto
                </span>
            </div>

            <!-- Usuario -->
            <div class="inputs">
              <label class="col-form-label" for="inputDefault">Usuario</label>
              <input 
                [ngClass]="{'is-invalid': form.get('nombre_usuario')?.hasError?.('required') && form.get('nombre_usuario')?.touched}"
                formControlName="nombre_usuario" type="text" class="form-control" placeholder="Nombre de usuario...">
                <!-- Mensajes de error -->
                <span *ngIf="form.get('nombre_usuario')?.hasError('required') && form.get('nombre_usuario')?.touched">
                  El campo usuario es <strong>requerido</strong>
                </span>
            </div>

            <!-- Contraseña -->
            <div class="inputs">
              <label class="col-form-label" for="inputDefault">Contraseña</label>
              <input 
                [ngClass]="{'is-invalid': form.get('contrasena')?.hasError?.('required') && form.get('contrasena')?.touched}"
                formControlName="contrasena" type="password" class="form-control" placeholder="Contraseña...">
                <!-- Mensajes de error -->
                <span *ngIf="form.get('contrasena')?.hasError('required') && form.get('contrasena')?.touched">
                  El campo contraseña es <strong>requerido</strong>
                </span>
            </div>

            <!-- Repetir contraseña -->
            <div class="inputs">
              <label class="col-form-label" for="inputDefault">Repetir contraseña</label>
              <input 
                [ngClass]="{'is-invalid': form.get('repetir_contrasena')?.hasError?.('required') && form.get('repetir_contrasena')?.touched}"
                formControlName="repetir_contrasena" type="password" class="form-control" placeholder="Repetir contraseña...">
                <!-- Mensajes de error -->
                <span *ngIf="form.get('repetir_contrasena')?.hasError('required') && form.get('repetir_contrasena')?.touched">
                  El campo repetir contrasena es <strong>requerido</strong>
                </span>
            </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Login</button>
          <button routerLink="" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  