<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Productos MC.Miler</a>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="products">Productos</a>
          </li>
        </ul>
        <form *ngIf="!loading" class="d-flex ms-auto">
          <!-- No estoy logeado -->
          <button *ngIf="!logged_in" routerLink="login" class="btn btn-secondary ml-1">Login</button>
          <button *ngIf="!logged_in" routerLink="register" class="btn btn-secondary ml-1">Register</button>

          <!-- Estoy logeado -->
          <button *ngIf="logged_in" class="btn btn-secondary ml-1">Profile</button>
          <button *ngIf="logged_in" (click)="logOut()" class="btn btn-secondary ml-1">Log out</button>
        </form>
      </div>
    </div>
  </nav>
  <app-progress-bar *ngIf="loading"></app-progress-bar>