<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="texto">
        <h1>Bienvenido a MC.Miler!</h1>
        <p class="lead">
            Esta página muestra todos los productos de calidad que vende nuestra empresa.<br>
            Contamos con una gran cantidad de productos de calidad, los cuales están disponibles por un módico precio!
        </p>
        <p><strong>Si quieres entrar a ver los datos del BLE haz clic en este botón:</strong> </p>
        <button routerLink="ble_data" type="button" class="btn btn-secondary">ver datos</button>
    </div>
</body>
</html>
