<div class="row mt-1">
  <div class="col-lg-4 offset-lg-5">
    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem">
      <div class="card-header text-center">Agregar producto</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="addProduct()">
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese nombre"
            formControlName="nombre"
          />
          <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
            El campo nombre es <strong>requerido</strong>
          </span>
          <input
            type="text"
            class="form-control mt-2"
            placeholder="Ingrese descripcion"
            formControlName="descripcion"
          />
          <span *ngIf="form.get('descripcion')?.hasError('required') && form.get('descripcion')?.touched">
            El campo descripcion es <strong>requerido</strong>
          </span>
          <input
            type="number"
            class="form-control mt-2"
            placeholder="Ingrese precio"
            formControlName="price"
          />
          <span *ngIf="form.get('price')?.hasError('required') && form.get('price')?.touched">
            El campo price es <strong>requerido</strong>
          </span>
          <input
            type="number"
            class="form-control mt-2"
            placeholder="Ingrese stock"
            formControlName="stock"
          />
          <span *ngIf="form.get('stock')?.hasError('required') && form.get('stock')?.touched">
            El campo stock es <strong>requerido</strong>
          </span>
          <div class="row mt-2 text-center">
            <div class="col-lg-6">
                <button routerLink="/" type="button" class="btn btn-secondary">Volver</button>
            </div>
            <div class="col-lg-6">
                <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Aceptar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
